a {
  text-decoration: none;
}

.menu {
  height: 40px;

  a {
    padding: 10px 5px;
    font-size: 12px;
  }

}

.products {
  margin-bottom: 20px;

  h2 {
    font-size: 16px;
  }
}

.product-list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    width: 220px;
    border: 1px solid #CCC;
    text-align: center;
    height: 270px;
    font-size: 14px;

    img {
      width: 220px;
    }

    .price {
      color: #21a024;
    }

  }
}